# Scripts

## Imports and Settings

In [8]:
import pandas as pd
import os

In [1]:
idx = pd.IndexSlice

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 1000)

# warnings.simplefilter(action='ignore', category=FutureWarning)
# warnings.filterwarnings('ignore')
# warnings.simplefilter('ignore')

display(HTML(data="""
<style>
    div#notebook-container    { width: 90%; }
    div#menubar-container     { width: 80%; }
    div#maintoolbar-container { width: 60%; }
</style>
"""))

In [2]:
main_path=os.sep.join(os.getcwd().split(os.sep)[:-1])
data_path=os.path.join(main_path,"data")

## Data Loading

In [11]:
df=pd.read_csv(os.path.join(data_path,"US_student_population","institutions_dictionary_hd2020.csv"), encoding="latin_1")
# # df=df.loc[(df.index>=4000) & (df.index<5000)]
# df=df.set_index("Place of Origin")
# df=df.loc[~df.index.isna()]
# df=df.fillna(0) #double-check
# df.columns=[int("20"+c[-2:]) for c in df.columns]
df=df.loc[:,["UNITID", "INSTNM", "IALIAS", "CITY", "STABBR", "ZIP", "ICLEVEL", "HLOFFER", "HDEGOFR1", "UGOFFER", "GROFFER", "OPENPUBL", "CYACTIVE","INSTSIZE", "COUNTYNM", "CNGDSTCD"]]
# df=df.set_index("INSTNM")
# df.insert(2,"INSTNM_CITY_ZIP",df.loc[:,"INSTNM"]+"-"+df.loc[:,"CITY"]+"-"+df.loc[:,"ZIP"])
# df=df.set_index("INSTNM_CITY_ZIP")
df

,UNITID,INSTNM,IALIAS,CITY,STABBR,ZIP,ICLEVEL,HLOFFER,HDEGOFR1,UGOFFER,GROFFER,OPENPUBL,CYACTIVE,INSTSIZE,COUNTYNM,CNGDSTCD
0,100654,Alabama A & M University,AAMU,Normal,AL,35762,1,9,12,1,1,1,1,3,Madison County,105
1,100663,University of Alabama at Birmingham,,Birmingham,AL,35294-0110,1,9,11,1,1,1,1,5,Jefferson County,107
2,100690,Amridge University,Southern Christian University Regions University,Montgomery,AL,36117-3553,1,9,12,1,1,1,1,1,Montgomery County,102
3,100706,University of Alabama in Huntsville,UAH University of Alabama Huntsville,Huntsville,AL,35899,1,9,11,1,1,1,1,3,Madison County,105
4,100724,Alabama State University,,Montgomery,AL,36104-0271,1,9,11,1,1,1,1,2,Montgomery County,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6435,496335,Coastline Beauty College - Hemet,,Hemet,CA,92545-3661,-3,-3,-3,-3,-3,1,3,-2,Riverside County,636
6436,496371,Elite Welding Academy,South Point,South Point,OH,45680-8849,3,2,0,1,2,1,1,1,Lawrence County,3906
6437,496380,Medspa Academies - NIMA National Institute of ...,,Las Vegas,NV,89169-6745,-3,-3,-3,-3,-3,1,3,-2,Clark County,3201
6438,496414,TechSherpas 365,,Tampa,FL,33625,3,1,0,1,2,1,1,-1,Hillsborough County,1214
6439,496423,Zorganics Institute Beauty and Wellness,ZORGANICS INSTITUTE,Bellingham,WA,98226,3,2,0,1,2,1,1,1,Whatcom County,5302

In [12]:
df.to_csv(os.path.join(data_path,"US_student_population","institutions.csv"))

In [7]:
institutions=pd.DataFrame(df.loc[:,"INSTNM"].unique()).rename(columns={0:"Insitution"})
institutions

                                             Insitution
0                              Alabama A & M University
1                   University of Alabama at Birmingham
2                                    Amridge University
3                   University of Alabama in Huntsville
4                              Alabama State University
...                                                 ...
6314                    Eagle Gate College-Boise Campus
6315                   Coastline Beauty College - Hemet
6316  Medspa Academies - NIMA National Institute of ...
6317                                    TechSherpas 365
6318            Zorganics Institute Beauty and Wellness

[6319 rows x 1 columns]

In [8]:
institutions.to_csv(os.path.join(data_path,"US_student_population","institutions_names.csv"))